body{
    background-color: antiquewhite;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo{
    text-align: center;
    margin: 3%;
}
section{
    border-top: solid;
}